# Node backend
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Spring Boot / Java
SpringBootBackend/target/
SpringBootBackend/.idea/
SpringBootBackend/*.iml
SpringBootBackend/.classpath
SpringBootBackend/.project
SpringBootBackend/.settings/
SpringBootBackend/.factorypath

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
